.main {
   margin: 0;
   padding-top: 100px;
   display: flex;
   justify-content: flex-start;
   position: relative; 
}

.search_container {
   position: absolute;
   right: 40px;
   display: flex;
}

.search_input {
   cursor: pointer;
   width: 250px;
   height: 40px;
   border-radius: 40px;
   border: 1px solid lightgray;
   background-color: lightgray;
   padding-left: 20px;
   margin-right: 10px;
}

.search_img {
   cursor: pointer;
   width: 50px;
   height: auto;
   object-fit: contain;
}

.write_button {
   border-radius: 17px;
   background-color: #82cd47;
   margin-left: 20px;
   border: none;
   width: 200px;
   height: 40px;
}

.grid_container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
   margin-top: 70px;
}

.grid_container a {
   text-decoration: none;
   color: inherit;
}

.grid_item {
   border: 1px solid #000;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   border-radius: 10px;
   width: 250px;
   height: 280px;
   padding: 10px;
   text-align: center;
   cursor: pointer;   
}

.grid_item img {
   width: 100%; 
   height: 180px;
   object-fit: cover;
   border-radius: 10px;
}

.grid_item p {
   margin: 5px 0;
   text-align: center;
}

.center{
   margin: 0 auto;
}